.about {
  font-family: var(--font);
  align-items: center;
  flex-direction: column;
  color: #fff;
  & .title {
    font-size: 2.5rem;
  }
  & .name {
    margin-top: 10px;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  & .description {
    text-align: center;
    font-size: 1.6rem;
  }
}
