.theme {
  height: 100%;
  display: none;
  &__list {
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &--item {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: #000;
      margin: 4px;
      border: 3px solid var(--textColor);
      cursor: pointer;
      &.default {
        background: blue;
      }
      &.orange{
        background: orangered;
      }
      &.dark {
        background: black;
      }
      &.red {
        background: red;
      }
      &.green {
        background: green;
      }
    }
  }
  &__preview {
    background: var(--bgColor);
    height: 100%;
  }
}
