.home
    header.home__header
        .home__header--menu
        .p.home__header--level Level : 
    main.home__main.bounceInUp.animated
        .option__container
            include ./setting
            include ./reportForError
            include ./themes
            include ./About
        .home__main--logoContainer
            img(src="" alt="LogoImage").logo__image
        .home__main--answerContainer
            .home__main--answerContainer--answerWrapper
        .home__main--keyboardContainer
            .home__main--keyboardContainer--keyboardWrapper