.menu
    .menu__content
        h1.menu__content__logo D
            span S
        p.menu__content__name Logo Game
        ul.menu__content__setting__list.menu-list
            li.menu__content__setting__list--item.menu-home Home
            li.menu__content__setting__list--item.menu-setting Setting
            li.menu__content__setting__list--item.menu-rpError Report For Error
            li.menu__content__setting__list--item.menu-themes Themes
            li.menu__content__setting__list--item.menu-about About