.report.bounceInUp.animated
    h1.report__logo.zoomIn.animated D
        span S
    p.report__description
     | If You Have Any Problem With Our Game Please Feel Free To Open issues (Click link bellow) :
    .report__contact
        a(href="https://github.com/daddasoft/logogame2/issues" target="_blank") Open an Issue on github
