.report.bounceInUp.animated
    h1.report__logo.zoomIn.animated D
        span S
    p.report__description
     | If You Have Any Problem With Our Game Please Feel Free To Contact Me On :
    .report__contact
        a: .report__contact--method.facebook
        a: .report__contact--method.email
        a: .report__contact--method.whatsapp

