.setting.bounceInUp.animated
    .setting__name Setting
    ul.setting__list
        li.setting__list--item 
            span Font Family
            .setting__list--item__dropDown.font__drop 
                span.valueFont Default
                .setting__list--item__dropDown--option.font__family--drop
                    ul.setting__list--item__dropDown--option__list.list__font
                        li.setting__list--item__dropDown--option__list--item Default
                        li.setting__list--item__dropDown--option__list--item Roboto
                        li.setting__list--item__dropDown--option__list--item Sans serif
        li.setting__list--item
            span Font Size
            .setting__list--item__dropDown.size__drop
                span.valueSize Default
                .setting__list--item__dropDown--option.font__size--drop
                    ul.setting__list--item__dropDown--option__list.list__size
                        li.setting__list--item__dropDown--option__list--item Default
                        li.setting__list--item__dropDown--option__list--item 12
                        li.setting__list--item__dropDown--option__list--item 14
                        li.setting__list--item__dropDown--option__list--item 16
        li.setting__list--item 
            span Enable/Disable
            input(type="checkbox",id="toggle__home").setting__list--item__check
            label(for="toggle__home").setting__list--item__toggle
                .setting__list--item__toggle--item
        li.setting__list--item 
            span Keyboard Size
            .setting__list--item__size
                .setting__list--item__size--plus.keyboard__plus
                .setting__list--item__size--value.keyboard__value 40
                .setting__list--item__size--minus.keyboard__minus
    button.resetSetting Reset The Setting