.theme.bounceInUp.animated
    ul.theme__list
        li.theme__list--item.default
        li.theme__list--item.light
        li.theme__list--item.dark
        li.theme__list--item.sky
        li.theme__list--item.gradient
    .theme__preview