.theme.bounceInUp.animated
    ul.theme__list
        li.theme__list--item.default
        li.theme__list--item.orange
        li.theme__list--item.green
        li.theme__list--item.dark
        li.theme__list--item.red
    .theme__preview
        .bar-1
        .bar-2
        .bar-3
        .circle
        .bar-4
        .bar-5
        .bar-6